<h2>List of Blog Articles</h2>
<br>

<div class="container-fluid">
  <table class="center">
    <tr>
      <th>Article</th>
    </tr>
    <% @articles.each do |article| %>
    <tr>
      <td><%= link_to article.title, article_path(article), class: "erb_link_black"  %></td>
    </tr>
    <% end %>
  </table>
</div>

<%= link_to 'About', about_path, class: "erb_link_white" %>

<%= link_to 'New Article', new_article_path, class: "erb_link_white" %>
