<%= content_tag(:div, @article.title, class: "article_body_title") %>

<div class="container">
  <p><%= @article.description %></p>
</div>

<%= link_to 'Back', articles_path %>

<%= link_to 'Edit', edit_article_path(@article) %>