<h2>Welcome to the Testing Times</h2>
<br>

<div class="container">
  <body>
  <p>And welcome to my random thoughts on all things Quality, Development and Tech.  This is an outlet for my ideas,
    random musings and the occasional rant about the state of the industry as I see it from the perspective of a career
    contractor.</p>
  <p>I'm hoping that as I go through this journey I will learn a thing or 2 about writing and also about the industry as
    I think and research blog posts</p>
  <p>I am always welcoming of comments and advice and also guest submissions</p>
  <p>My current articles can be found here <%= link_to 'Article list', root_path, class: "erb_link_white" %></p>
  </body>
</div>
